// src/styles/themes/dark.scss

$background: #1e1e1e; // Dark background
$header-background: #444; // Dark header background
$footer-background: #222; // Dark footer background
$header-color: #e1e1e1; // Dark header text color
$footer-color: #e1e1e1; // Dark footer text color
