@import url(https://fonts.googleapis.com/css?family=Permanent+Marker:400);
@import url(https://fonts.googleapis.com/css?family=Orbitron:400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700);
@import url(https://fonts.googleapis.com/css2?family=Limelight);
@import url(https://fonts.googleapis.com/css2?family=Orbitron);
@import 'colors';

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.carousel-container {
  max-height: 260px;
  margin: 0 auto;
  width: 800px;

  h2 {
    font-variant: small-caps;
    text-align: left;
    margin: 10px 0;
  }

  a {
    text-decoration: none;
  }

  & > .carousel-container-slider {
    align-items: center;
    display: flex;
    flex-direction: row;
    
    & > .carousel-images {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}

.carousel-top_rated {
  color: $primary-color;
  font-family: "Limelight", sans-serif;

  small {
    color: $primary-color;
    text-decoration: none;
  }

  .indicator {
    background-color: $primary-color;
  }

  .slick-dots {
    bottom: -30px;
  }

  .slick-prev:before,
  .slick-next:before {
    color: $primary-color;
  }
}

.carousel-popular {
  font-family: "Orbitron", serif;
  color: $accent-color;

  small {
    color: $accent-color;
    text-decoration: none;
  }

  .indicator {
    background-color: $accent-color;
  }

  .slick-dots {
    bottom: -10px;
  }

  .slick-prev:before,
  .slick-next:before {
    color: $accent-color;
  }
}

.carousel-upcoming {
  color: $hover-color;
  font-family: Roboto Condensed, sans-serif;

  small {
    color: $hover-color;
    text-decoration: none;
  }

  .indicator {
    background-color: $hover-color;
  }

  .slick-dots {
    bottom: -20px;
  }

  .slick-prev:before,
  .slick-next:before {
    color: $hover-color;
  }
}

.carousel {
  position: relative;
}
