.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: 5rem; /* mt-20 */
}

.footer-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.footer-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--muted-foreground, #6b7280);
  font-family: 'Inter', sans-serif;
  width: 20%;

  span {
    height: 50px;
    svg {
      width: 80%;
      fill: var(--foreground);
      color: var(--foreground);
    }
  }

  p {
    font-size: 0.875rem;
  }

  a {
    color: var(--color-action);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
