@use './colors';

header {
  a {
    color: colors.$black;
    text-align: right;
    &:hover {
      color: colors.$hover;
    }
  }

  position: relative;
  display: flex;
  background: white;
  padding: 0 23px;
  height: 55px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid colors.$background-footer;

  .logo {
    align-items: center;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 150px;
    svg {
      width: 100%;
      height: auto;
      &:hover {
        fill: colors.$hover;
      }
    }
  }
  .favourites-link {
    margin-right: 2rem;
    display: flex;
    position: absolute;
    right: 0;
    a {
      align-items: end;
      display: flex;
      img {
        margin-right: 5px;
        width: 30px;
      }
    }
  }
  .logo {
    width: 100px;
  }
}
