@import 'colors';

header {
  a {
    color: $black;
    text-align: right;
  }
  background-color: white;
  border-bottom: 1px solid $background-color-footer;
  color: $black;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: bold;
  justify-content: space-between;
  padding: 0.5rem;
  .logo {
    width: 150px;
    svg {
      width: 100%;
      height: auto;
    }
  }
  .favourites-link {
    margin-right: 2rem;
    a {
      align-items: end;
      display: flex;
      img {
        margin-right: 5px;
        width: 30px;
      }
    }
  }
  .logo {
    width: 100px;
  }
}
